.repo {
  & > * {
    word-wrap: break-word;
  }
  .repo-meta {
    margin-bottom: 0.5rem;
  }

  .repo-meta > * {
    margin: 0;
  }
}

.repo-avatar {
  img {
    border-radius: $borderRadius;
  }
}
