.topic-tag {
  display: inline-block;
  padding: 0.3em 0.9em;
  margin: 0 0.5em 0.5em 0;
  white-space: nowrap;
  background-color: #f1f8ff;
  border-radius: 3px;
  line-height: 1.5;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background-color: #ddeeff;
  }
}

.repo {
  & > * {
    word-wrap: break-word;
  }

  .repo-meta * {
    line-height: 1;
    margin-bottom: 0.2rem;
  }
}

.repos-list {
  position: relative;
  z-index: 1;
  filter: blur(0);
}

.repo-avatar {
  img {
    border-radius: $borderRadius;
  }
}
