@import '~flexboxgrid/dist/flexboxgrid.min.css';

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: whitesmoke;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

header h1 {
  display: inline-block;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  color: #444;
}
.panel {
  padding: 2rem;
}

.center {
  text-align: center;
}

.centerFlex {
  justify-content: center;
}

* > .panel {
  margin-top: 1.5rem;
}
