@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
@import '~flexboxgrid/dist/flexboxgrid.min.css';
@import 'primer/index.scss';
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import './variables';
@import './layout';
@import './typography';
@import './components/index';

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.no-margin {
  margin: 0;
}

.align-right {
  text-align: right;
}
