@import '~flexboxgrid/dist/flexboxgrid.min.css';
@import './container';
@import './feed-controlls';
@import './repos';

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: whitesmoke;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

header h1 {
  display: inline-block;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  color: #444;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.small {
  font-size: 0.8rem;
}

.panel {
  padding: 2rem;
}

.center {
  text-align: center;
}

.centerFlex {
  justify-content: center;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  transition: 1s;
  text-decoration: underline;
}
