html {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
$textXSmall: 0.8rem;
$textSmall: 1rem;
$textNormal: 1.2rem;
$textLarge: 1.5rem;

body {
  font-size: $textNormal;
}

a > i {
  color: $lightTextColor;
  text-decoration: none;
}

a:hover {
  transition: 200ms;
  color: $textColor;
}

p {
  font-size: $textNormal;
}

// Helper Classes
.small {
  font-size: $textSmall;
}

.xsmall {
  font-size: $textXSmall;
}

.large {
  font-size: $textLarge;
}

.light-text {
  color: $lightTextColor;
}
