doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Gitalong
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='style/loading.css')

    //- Language icons by Devicons: http://konpa.github.io/devicon/ 
    link(rel="stylesheet", href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")

  body
    #main(data-user=`${user}`)
    script(src="/bundle.js")
