doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Gitalong
    link(rel='stylesheet', href='style/loading.css')
  body
    #main(data-user=`${user}`)
    script(src="/bundle.js")
