doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Gitalong
    link(rel='stylesheet', href='style/loading.css')
    link(rel="stylesheet", href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")

  body
    #main(data-user=`${user}`)
    script(src="/bundle.js")
